html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #81a2fa);
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 20px;
}

.flex-report {
  display: flex;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-report div {
  padding-top: 10px;
}

/* TABLE */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
  margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead th {
	background-color: #55608f;
}

tbody tr:hover {
	background-color: rgba(255,255,255,0.3);
}
    
td:hover :before {
	position: relative;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(255,255,255,0.2);
	z-index: -1;
}

/* Mobile Devices Support */
@media screen and (max-width: 600px) {
	body {
		width: 100%;
	}
	.flex-report {
		width: 100%;
		text-align: center;
	}
}
